<p>Här fyller du i uppgifter om ditt hushåll, till exempel hur många som bor i hushållet, samt deras ålder. Beräkningar på andra blad i kalkylen kan förändras beroende på de uppgifter som fylls i här. Klicka på frågetecknen för att få mer information om de olika posterna.</p>
<form name="householdForm" class="horizontal form-inline-input" novalidate>
	<div class="row">
		<div class="col col-lg-3">
			<label>Kommun</label>
		</div>
		<div class="col col-lg-9">
			<select name="county" id="county" ng-model="household.county" class="col-lg-6">
				<option value="">Välj kommun</option>
				<option value="Tyresö">Tyresö</option>
				<option value="Stockholm">Stockholm</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<label>Antal vuxna</label>
		</div>
		<div class="col col-lg-9">
			<select name="peopleLength" id="peopleLength" ng-model="household.peopleLength" ng-change="updatePeople(household.peopleLength)" class="col-lg-6">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<p>Labels</p>
		</div>
		<div class="col col-lg-9">
			<div class="row">
				<input type="hidden" name="people" ng-model="household.people">
				<div class="col col-lg-{{12 / household.peopleLength}}" ng-repeat="person in household.people">
					<h4>{{person.name}}</h4>
					<div class="control-group" ng-class="{'has-error': householdForm.name.$invalid}">
						<div class="controls">
							<input type="text" class="input-with-feedback" name="name" ng-model="person.name" required>						
						</div>
						<label class="control-label" for="name" ng-show="householdForm.name.$error.required">Namn är obligatoriskt.</label>
					</div>
					<select name="sex" id="sex" ng-model="person.sex">
						<option value="male">Man</option>
						<option value="female">Kvinna</option>
					</select>
					<input type="text" name="birthYear" ng-model="person.birthYear" ng-maxlength="4" ng-minlength="4" ng-pattern="/^[0-9]*$/" required>
					<p ng-show="householdForm.birthYear.$error.minlength">Födelseår består av fyra siffor, t.ex 1989.</p>
					<p ng-show="householdForm.birthYear.$error.pattern">Endast siffror är tillåtna.</p>
				</div>
			</div>
		</div>
	</div>
</form>
<div class="row">
	<div class="col col-lg-12">
		<pre>{{household | json}}</pre>
	</div>
</div>
