<p>Här fyller du i uppgifter om ditt hushåll, till exempel hur många som bor i hushållet, samt deras ålder. Beräkningar på andra blad i kalkylen kan förändras beroende på de uppgifter som fylls i här. Klicka på frågetecknen för att få mer information om de olika posterna.</p>
<form class="horizontal">
	<div class="row">
		<div class="col col-lg-3">
			<label>Kommun</label>
		</div>
		<div class="col col-lg-9">
			<select name="county" id="county" ng-model="budget.county" class="col-lg-6">
				<option value="">Välj kommun</option>
				<option value="Tyresö">Tyresö</option>
				<option value="Stockholm">Stockholm</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<label>Antal vuxna</label>
		</div>
		<div class="col col-lg-9">
			<select name="persons" id="persons" ng-model="budget.person" class="col-lg-6">
				<option value="1">1</option>
				<option value="2">2</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-12">
			<pre>{{budget | json}}</pre>
		</div>
	</div>
</form>