<p>Här fyller du i uppgifter om ditt hushåll, till exempel hur många som bor i hushållet, samt deras ålder. Beräkningar på andra blad i kalkylen kan förändras beroende på de uppgifter som fylls i här. Klicka på frågetecknen för att få mer information om de olika posterna.</p>
<form name="householdForm" class="form-horizontal form-medium" novalidate>
	<div class="row">
		<div class="col col-lg-3">
			<label>Kommun</label>
		</div>
		<div class="col col-lg-9">
			<select name="county" id="county" ng-model="household.county" class="col-lg-6" ng-options="tax.id as tax.name for tax in taxList" ng-change="updateTax()" required></select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<label>Antal vuxna</label>
		</div>
		<div class="col col-lg-9">
			<select name="peopleLength" id="peopleLength" ng-model="household.peopleLength" ng-change="updatePeople(household.peopleLength); updateTax()" class="col-lg-6">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-12">
			<div class="well">
				<div class="row">
					<div class="col col-lg-3" ng-repeat="person in household.people">
						<div ng-form="personForm">
							<input type="hidden" name="id" ng-model="person.id">
							<h4 class="top-heading">Person {{$index + 1}} <span ng-show="person.firstName">–</span> <span class="coherent-string">{{person.firstName}} {{person.lastName}}</span></h4>
							<div class="control-group" ng-class="{'has-error': personForm.firstName.$dirty && personForm.firstName.$invalid, 'has-success': personForm.firstName.$valid}">
								<div class="controls">
									<label class="control-label">Förnamn:</label>
									<input type="text" class="input-with-feedback" name="firstName" ng-pattern="/^[a-zA-Z]*$/" ng-model="person.firstName" ng-minlength="2" required>	
									<label class="control-label" ng-show="personForm.firstName.$dirty && personForm.firstName.$error.required">Var god fyll i ditt förnamn.</label>
									<label class="control-label" ng-show="personForm.firstName.$dirty && personForm.firstName.$error.minlength">Ditt förnamn är för kort.</label>
									<label class="control-label" ng-show="personForm.firstName.$dirty && personForm.firstName.$error.pattern">Endast bokstäver är tillåtna.</label>
								</div>
							</div>
							<div class="control-group" ng-class="{'has-error': personForm.lastName.$dirty && personForm.lastName.$invalid, 'has-success': personForm.lastName.$valid}">
								<div class="controls">
									<label class="control-label">Efternamn:</label>
									<input type="text" class="input-with-feedback" name="lastName" ng-pattern="/^[a-zA-Z]*$/" ng-model="person.lastName" ng-minlength="2" required>	
									<label class="control-label" ng-show="personForm.lastName.$dirty && personForm.lastName.$error.required">Var god fyll i ditt efternamn</label>
									<label class="control-label" ng-show="personForm.lastName.$dirty && personForm.lastName.$error.minlength">Ditt efternamn är för kort.</label>
									<label class="control-label" ng-show="personForm.lastName.$dirty && personForm.lastName.$error.pattern">Endast bokstäver är tillåtna.</label>
								</div>
							</div>
							<label>Kön</label>
							<select name="sex" id="sex" ng-model="person.sex">
								<option value="male">Man</option>
								<option value="female">Kvinna</option>
							</select>
							<div class="control-group" ng-class="{'has-error': personForm.birthYear.$dirty && personForm.birthYear.$invalid, 'has-success': personForm.birthYear.$valid}">
								<div class="controls">
									<label class="control-label">Födelseår</label>
									<input type="text" name="birthYear" ng-model="person.birthYear" ng-maxlength="4" ng-app="string"-minlength="4" ng-pattern="/^((19|20)([0-9]{2}))*$/" required>
									<label class="control-label" ng-show="personForm.birthYear.$dirty && personForm.birthYear.$error.pattern">Format: ÅÅÅÅ, t.ex 1989.</label>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									<label class="control-label">Betalar kyrko-/samfundsavgift</label>
									<select name="churchFee" id="churchFee" ng-model="person.churchFee" ng-change="updateTax()">
										<option value="true">Ja</option>
										<option value="false">Nej</option>
									</select>
								</div>
							</div>
							<div class="control-group" ng-class="{'has-error': personForm.tax.$dirty && personForm.tax.$invalid, 'has-success': personForm.tax.$dirty && personForm.tax.$valid}">
								<div class="controls">
									<label class="control-label">Kommunalskatt</label>
									<input type="text" name="tax" id="tax" ng-model="person.tax" required>
									<label class="control-label" ng-show="personForm.tax.$dirty && personForm.tax.$error.pattern">Skatt är obligatoriskt.</label>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" name="people" ng-model="household.people">
				</div>
			</div>
		</div>
	</div>
</form>
<div class="row">
	<div class="col col-lg-12">
		<a href="#/calculator/income" class="btn btn-primary btn-large pull-right" ng-disabled="householdForm.$invalid" ng-click="storeData(household)">Nästa steg</a>	
	</div>
</div>