<div class="navbar">
	<div class="container">
		<a href="#/" class="navbar-brand">Budgetkalkylatorn</a>
		<ul class="nav navbar-nav">
			<li ng-repeat="link in mainNavLinks" ng-class="{'active': link.href == activePageSection.href}">
				<a href="#{{ link.href }}">{{ link.title }}</a>
			</li>
		</ul>
	</div>
</div>
<div ng-show="subNavLinks" class="container">
	<ul class="nav nav-tabs">
		<li ng-repeat="link in subNavLinks" ng-class="{'active': link.href == activePage.href}">
			<a href="#{{ link.href }}">{{ link.title }}</a>
		</li>
	</ul>
</div>
